@font-face {
  font-family: "pt-sans";
  src: url("assets/fonts/pt-sans.ttf") format("truetype");
}

@font-face {
  font-family: "vigar";
  src: url("assets/fonts/vigar.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "pt-sans", Arial, Helvetica, sans-serif;
  background-color: rgb(14, 14, 14);
}

button {
  color: white;
  background-color: rgb(174 134 68);
  border: none;
  padding: 20px;
  font-size: 24px;
  font-family: "pt-sans", Arial, Helvetica, sans-serif;
  width: 300px;
  height: 80px;
  transition: all 0.3s ease;
  cursor: pointer;

}

button:hover {
  font-size: 26px;  
  transition: all 0.3s ease; 
}


header {
  background: url(assets/img/header.png) no-repeat center / cover;
  height: 100vh;
  padding: 80px 160px;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav img {
  width: 100px;
}

header nav div {
  display: flex;
  align-items: center;
  gap: 48px;
}

header nav div a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

header nav div a img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

header h1,
p,
div {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-family: "vigar", Arial, Helvetica, sans-serif;
  font-size: 96px;
  color: white;
  text-align: center;
}

header p {
  font-size: 40px;
  color: white;
}

.first-section {
  margin: 100px;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.first-section div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.first-section div h2 {
  font-size: 32px;
  color: rgb(174 134 68);
}

.first-section div img {
  width: 400px;
  height: 400px;
}

.second-section {
  padding-right: 48px;
  display: flex;
  align-items: center;
  gap: 48px;
  background-color: rgb(39 39 39);;
}

.second-section .event-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.second-section .event-details p, h3, span {
  color: white;
  font-size: 24px;
}

.second-section .line {
  width: 2px;
  height: 300px;
  background-color: white;
}